<ion-content>
  <div id="container" class="hero">

    <div class="hero__title">
      <ion-button *ngIf="!playing && !secondsToStart" (click)="play()" strong="true" color="warning" size="large">EMPEZAR
      </ion-button>
  
      <h1 class="countdown" *ngIf="secondsToStart">{{ secondsToStart }}</h1>
  
      <app-flipping-card #card *ngIf="playing" (click)="nextPhrase()">
        <div class="flash-card-front">
          <h2>{{ frontPhrase }}</h2>
        </div>
  
        <div class="flash-card-back">
          <h2>{{ backPhrase }}</h2>
        </div>
      </app-flipping-card>
      <ion-button *ngIf="playing" (click)="stop()" strong="true" color="#ADFC92" size="small">STOP</ion-button>
    </div>
    <div class="cube"></div>
    <div class="cube"></div>
    <div class="cube"></div>
    <div class="cube"></div>
    <div class="cube"></div>
    <div class="cube"></div>

  </div>
</ion-content>