

      /*
       *  Flip animation by David Walsh: https://davidwalsh.name/css-flip
       */

      /* entire container, keeps perspective */
      .flip-container {
          perspective: 1000px;
      }

          /* flip the pane when hovered */
          .flip-container.flipped .flipper {
              transform: rotateY(180deg);
          }

      .flip-container, .front, .back {
          width: 50vw;
          height: 40vh;
          margin: 20px auto;
          border-radius: 20px;
      }

      /* flip speed goes here */
      .flipper {
          transition: 0.6s;
          transform-style: preserve-3d;

          position: relative;
      }

      /* hide back of pane during swap */
      .front, .back {
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: #4A0D67;
          backface-visibility: hidden;
          -webkit-box-shadow: 0px 8px 4px -4px rgba(163,163,163,0.25);
          -moz-box-shadow: 0px 8px 4px -4px rgba(163,163,163,0.25);
          box-shadow: 0px 8px 4px -4px rgba(163,163,163,0.25);
          margin: 0;
          position: absolute;
          top: 0;
          left: 0;
      }

      .back {
        background-color: #9BF3F0;
      }

      /* front pane, placed above back */
      .front {
          z-index: 2;
          /* for firefox 31 */
          transform: rotateY(0deg);
      }

      /* back, initially hidden pane */
      .back {
          transform: rotateY(180deg);
      }

