<div class="flip-container" [class.flipped]="flipped">

    <div class="flipper">

        <div class="front">
            <ng-content select=".flash-card-front"></ng-content>
        </div>

        <div class="back">
            <ng-content select=".flash-card-back"></ng-content>
        </div>

    </div>

</div>