<ion-content [fullscreen]="true">

  



  <!-- Background & animion & navbar & title -->
  <div class="container-fluid">
    <!-- Background animtion-->
    <div class="background">
      <div class="cube"></div>
      <div class="cube"></div>
      <div class="cube"></div>
      <div class="cube"></div>
      <div class="cube"></div>
    </div>
   
    <div id="container">
      <h1>CATCHPHRASE</h1>
      <ion-button color="primary" shape="round" size="large" [routerLink]="['/game-catchphrase']">CatchPhrase</ion-button>
      <br>
      <ion-button color="primary" shape="round" size="large">Gestos</ion-button><br>
      <ion-button color="secondary" shape="round" size="small">Ajustes</ion-button>
    </div>
 


  </div>

</ion-content>